@model Biblioteca.Models.Libro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noEjemplares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noEjemplares)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.libroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
