@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Biblioteca.Models.Libro nuevoLibro = new Biblioteca.Models.Libro();
}

<h2>Index</h2>
<a data-toggle="modal" data-target="#modalAlta">Nuevo libro</a>
<p>
    @* @Html.ActionLink("Create New", "Create")*@ 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noEjemplares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noEjemplares)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.libroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.libroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.libroId })
        </td>
    </tr>
}

</table>

<div id="modalAlta" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" dat-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registro de nuevo libro</h4>
            </div>

            <div class="modal-body">
                    @Html.Partial("Create", nuevoLibro)
                    <p>Modal para Crear un nuevo libro</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dissmiss="modal">Salir</button>
           </div>

            
        </div>
    </div>
</div>