@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.libroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.libroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.libroId })
        </td>
    </tr>
}

</table>
