@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Biblioteca.Models.Libro nuevoLibro = new Biblioteca.Models.Libro();
}

@*<h2>Index</h2>*@
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAlta" style="margin-top: 20px">Nuevo Libro</button>

<p>
    @* @Html.ActionLink("Create New", "Create")*@ 
</p>
<input type="text" name="strBuscado" value="" placeholder="Buscar Libro" />
<button>Buscar</button>
<table id="tablaLibros" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noEjemplares)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.editorial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noEjemplares)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { id=item.libroId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.libroId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.libroId }) *@
                    <button type="button" class="btn btn-info" id="enlaceDetalles" data-toggle="modal" data-target="#modalDetalles" libroId="@item.libroId">Detalles</button>
                    <button name="Borrar" type="button" class="btn btn-danger" id="enlaceBorrar" data-toggle="modal" data-target="#modalBorrar" libroId="@item.libroId" style="margin-left:auto">Borrar</button>
                    <button type="button" class="btn btn-success" id="enlaceEditar" data-toggle="modal" data-target="#modalEditar" libroId="@item.libroId">Editar</button>
                </td>
            </tr>
        }
        </tbody>
</table>

<div id="modalDetalles" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles</h4>
            </div>
            <div class="modal-body">
            <div id="detalleslibros" style="text-align:center">


            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBorrar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>Esta Seguro Que Desea Borrar Este registro?</p>
            </div>
            <div class="modal-footer">
                <button id="btnBorrar" type="button" class="btn btn-default" data-dismiss="modal">Borrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Edit", nuevoLibro)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalAlta" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registro de nuevo libro</h4>
            </div>

            <div class="modal-body">
                    @Html.Partial("Create", nuevoLibro)
                    @*<p>Modal para Crear un nuevo libro</p>*@
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>

            
        </div>
    </div>
</div>